{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% load widget_tweaks   %}
{% block content %}




<!-- KANAN -->
<div class="main-panel">
    <div class="content-wrapper">
        <div class="submit-page">
            <div class="row center">
                <form method="POST" enctype="multipart/form-data" class="luar submitform">
                    <div class='form-title center'><h1>Update</h1></div>
                    {% csrf_token %}
                    <fieldset class= "form-group">
                        {% for field in form %}
                            {{ field.label_tag }}
                            {% render_field field class="form-border form-control form-group" placeholder=field.label %}
                        {% endfor %} 
                    </fieldset>
                    <div style='text-align: center;'>
                        <button class="btn btn-primary" type="submit">Update Product</button>
                        <a class="btn btn-outline-secondary" href="{% url 'stock:dashboard' %}">Cancel</a>
                    </div>
                </form>
            </div>
        </div>      
    </div>

{% endblock content %}